
*.unity
*.apiupaterconfigs
*.asset
*.meta
*.json
*.graph
*.outputdata
*.outputdata
*.payloads
*.dag_fsmtime
*.dag_fsmtime
*.inputactions
*.pdb
*.dll
*.scenetemplate
*.mvfrm
*.dag_derived
*.txt
*.traceevents
*.digestcache
